@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  height: 100vh;
  background-image: linear-gradient(to top left, #1d1d1d 0%, #363636 100%);
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 15rem;
}

main {
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: normal;
  position: relative;
  width: 60rem;
  height: 40rem;
  background-color: rgba(12, 12, 12, 0.35);
  backdrop-filter: blur(20px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 15%;
}

section {
  display: block;
  float: left;
}

h1 {
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.877);
}

h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.877);
  display: inline;
}

h3 {
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.877);
}

.description {
  color: rgba(255, 255, 255, 0.877);
  font-size: 2rem;
  margin: 2rem;
}

.p-container {
  width: 70%;
  text-align: center;
  margin: auto;
}

.upper-row {
  width: 53rem;
  margin: auto;
  position: relative;
  right: 20px;
}

.letters {
  color: rgba(255, 255, 255, 0.877);
  font-size: 3rem;
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: normal;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  position: relative;
  left: 15%;
}

.nums {
  color: rgba(255, 255, 255, 0.877);
  font-size: 3rem;
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: normal;
}

.vertical-nums {
  float: left;
  display: grid;
  padding-right: 10px;
  position: relative;
  top: 25px;
}

.container-main {
  display: flex;
  position: relative;
  left: 35px;
}

.board-tile {
  width: 25%;
  height: 25%;
  text-align: center;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.877);
}

.board-tile:hover {
  background-color: rgba(56, 56, 56, 0.877);
}

.top {
  border-top: 0.5rem solid;
  border-color: rgba(255, 255, 255, 0.877);
}

.left {
  border-left: 0.5rem solid;
  border-color: rgba(255, 255, 255, 0.877);
}

.right {
  border-right: 0.5rem solid;
  border-color: rgba(255, 255, 255, 0.877);
}

.bottom {
  border-bottom: 0.5rem solid;
  border-color: rgba(255, 255, 255, 0.877);
}

.bottom-row {
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.player-title {
  text-decoration: underline;
  font-size: 1.5rem;
}

.title-img-score {
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.title-score-block {
  display: grid;
  margin-left: 15px;
  margin-right: 15px;
}

.score {
  float: right;
  font-size: 4rem;
}

.score-title {
  font-size: 1.5rem;
}

#tie {
  margin-right: 10px;
}

#music-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 15px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.877);
  border: solid;
}

#title-text {
  color: rgba(255, 255, 255, 0.877);
  font-size: 8rem;
  text-align: center;
}

#score-text {
  margin-right: 3rem;
}

#player-1-img {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid;
}

#player--2 {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid;
}

#player--2:hover {
  background-color: rgba(255, 255, 255, 0.425);
}

#cpu {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid;
}

#tie-score {
  font-size: 2.5rem;
  position: relative;
  right: 15px;
}

#tie-color {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid;
}

#cpu:hover {
  background-color: rgba(255, 255, 255, 0.425);
}

.player-image {
  width: 52px;
  height: 52px;
  border-radius: 25%;
  padding: 5px;
  position: relative;
  bottom: 3px;
  float: left;
}

#rematch {
  display: none;
  width: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#normal {
  margin: 10px;
}

#no-steal-wins {
  margin: 10px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 40px;
  padding-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(255, 255, 255, 0.877);
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
